/* Base Element Styles */
* {box-sizing: border-box;}

body {
    background-color: rgb(200, 200, 240);
}

.main-title {
    text-align: center;
    color: darkblue;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.main-title img {
    margin-top: 20px;
    margin-bottom: 0;
    height: 40px;
}

.photo-title {
    text-align: center;
    color: darkblue;
    margin-top: 80px;

}

.photo-cube {
	max-width: 200px;
	text-align: center;
	margin: auto;
}

.photo-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gallery img {
    width: 100%;
    max-width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 20px;
    border-radius: 10%;
 }


/* Photo Cube */

.photo-container {
	perspective: 800px;
}

.photo-cube {
    height: 200px;
    width: 200px;
    transition: transform 5s ease-in-out;
    transform-style: preserve-3d;
    margin-bottom: 100px;
}

.photo-cube:hover {
    transform: rotateY(270deg);
}

.right {
    background: rgb(0, 195, 255);
    text-align: center;
    font-size: 0.9em;
    padding: 30% 10%;
}

.left, 
.right, 
.top,
.bottom, 
.front, 
.back {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    margin: 0;
}

.front {
    transform: translateZ(100px);
}
.back {
    transform: translateZ(-100px) rotateY(-180deg);
}

.left {
    transform: rotateY(90deg) translateZ(-100px);
}
.right {
    transform: rotateY(90deg) translateZ(100px);
}
.bottom {
    transform: translateY(100px) rotateX(-90deg);
}
.top {
    transform: rotateX(90deg) translateZ(100px);
   
}

/* Media Queries */

@media (min-width: 768px) {
    .flex-pair {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
     }

    .flex-pair img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .flex-pair {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
     }

    .flex-pair img {
        width: 33.3%;
    }
}